<div layout="row">
  <md-icon md-font-set="material-icons">{{::$ctrl.user_rating >= 1 ? "star" : "star_border"}}</md-icon>
  <md-icon md-font-set="material-icons">{{::$ctrl.user_rating >= 2 ? "star" : "star_border"}}</md-icon>
  <md-icon md-font-set="material-icons">{{::$ctrl.user_rating >= 3 ? "star" : "star_border"}}</md-icon>
  <md-icon md-font-set="material-icons">{{::$ctrl.user_rating >= 4 ? "star" : "star_border"}}</md-icon>
  <md-icon md-font-set="material-icons">{{::$ctrl.user_rating >= 5 ? "star" : "star_border"}}</md-icon>
</div>